<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Kennect Assignment">
	<listeners>
		<listener class-name="kennect.Listeners" />
	</listeners>
	<test name="Test">
		<parameter name="email" value="test@kennect.io" />
		<parameter name="password" value="Qwerty@1234" />
		<classes>
			<class name="tests.Test" />	
		</classes>
	</test>	
</suite> <!-- Suite -->
